// index.jade
extends layout

block menu

block content
    div.row
        div.col-sm-1.col-md-4
        div.col-sm-8.col-md-4
            div.well.center-block.contrast-border
                a(href="/lista").btn.btn-lg.btn-block.contrast-bg Invitados
                a(href="/novios").btn.btn-lg.btn-block.light-bg Novios
    div.col-sm-1.col-md-4